:root{
    --red: #c31010;
    --aliceblue:aliceblue;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.bg-dark{
    background-color: #23253A !important;
}

.btn{
    background-color: var(--red);
    border-color: var(--red);
}
.btn:hover {
    background-color: #ff313f;
    border-color: #ff313f;
}
.text-primary{
    color:#c31010 !important;
}
.bg-dark-alt{
    background-color: #2b2e41;
}
section{
    padding: 5rem 0;
}
h1{
    font-size: 5rem;
}
.navbar-brand{
    font-size: 2rem;
}

.form-control:focus{
    color:#23253A !important;
}

.form-control::placeholder{
    color:#DEDEDE;
}

/* Media Query */

/* Laptop */
@media(max-width:992px){
    
    .hero{
        font-size: 80% ;
    }
}

/* Tablet */
@media screen and(max-width:768px){

    header{
        font-size: 70%;
    }

}

/* Mobile Phone */
@media screen and(max-width:680px){

    section.header{
        font-size: 20%;
    }
    
}

